.box-1 {
    padding: 5px;
    width: 100%;
    background-color: #28292c;
    box-sizing: border-box;
}

.box-2 {
    padding: 5px;
    width: 100%;
    background-color: #28292c;
    box-sizing: border-box;
    text-align: center;
}

@media only screen and (max-width: 576px) {
    .box-1, .box-2 {
        font-size: 15px;
    }
}