.cb {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 44, 44);
}

.gta {
    color: black;
    background-color: rgb(247, 247, 167);
}

.mc {
    color: black;
    background-color: rgb(0, 173, 0);
}

.fc {
    color: white;
    background-color: #6666fd;
}

.html {
    color: rgb(255, 255, 255);
    background-color: #e34c26;
}

.sql {
    color: rgb(255, 255, 255);
    background-color: #e38c00;
}

.js {
    color: rgb(0, 0, 0);
    background-color: #f1e05a;
}

.md {
    color: white;
    background-color: #083fa1;
}

.yml {
    color: white;
    background-color: #cb171e;
}

.scss {
    color: white;
    background-color: #c6538c;
}

.shell {
    color: rgb(0, 0, 0);
    background-color: #89e051;
}
