.diff-knowledge {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: rgb(116, 206, 80);
}

.diff-practical {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: rgb(197, 65, 65);
}

@media only screen and (max-width: 576px) {
    .diff-knowledge, .diff-practical {
        font-size: 15px;
    }
}
