<!--
{%comment%}
    {% include blog_cover.html src="/assets/videos/fpga-demo.mp4" %}
    {% include blog_cover.html src="/assets/videos/fpga-demo.mp4" crop=true %}
    {% include blog_cover.html src="/assets/videos/fpga-demo.mp4" crop=true caption="..." %}
{%endcomment%}
-->

<div class="post-video-wrapper{% if include.crop %} post-video-wrapper--crop{% endif %}">
    <img class="post-video" src="{{ include.src }}" />
</div>
{% if include.caption %}
<p class="post-video-caption">{{ include.caption }}</p>
{% endif %}
