## Codebase Stats

- Total files: <span class='cb'>255</span>
- Total folders: <span class='cb'>184</span>
- Number of <span class='md'>.md</span> files: <span class='cb'>46</span> && with <span class='cb'>3413</span> lines of code.
- Number of <span class='html'>.html</span> files: <span class='cb'>14</span> && with <span class='cb'>691</span> lines of code.
- Number of <span class='scss'>.scss</span> files: <span class='cb'>23</span> && with <span class='cb'>1150</span> lines of code.
- Number of <span class='js'>.js</span> files: <span class='cb'>7</span> && with <span class='cb'>106</span> lines of code.
- Number of <span class='yml'>.yml</span> files: <span class='cb'>17</span> && with <span class='cb'>366</span> lines of code.
- Number of <span class='cb'>.txt</span> files: <span class='cb'>2</span> && with <span class='cb'>63</span> lines of code.
- Number of <span class='sql'>.sql</span> files: <span class='cb'>1</span> && with <span class='cb'>464</span> lines of code.
- Number of <span class='shell'>.sh</span> files: <span class='cb'>2</span> && with <span class='cb'>127</span> lines of code.

## Media Stats

- Number of <span class='cb'>PNG</span> images: <span class='cb'>17</span>
- Number of <span class='cb'>JPG</span> images: <span class='cb'>10</span>
- Number of <span class='cb'>JPEG</span> images: <span class='cb'>0</span>
- Number of <span class='cb'>GIF</span> images: <span class='cb'>17</span>
- Number of <span class='cb'>SVG</span> images: <span class='cb'>0</span>
- Number of <span class='cb'>WebP</span> images: <span class='cb'>0</span>
- Number of <span class='cb'>MP4</span> videos: <span class='cb'>1</span>
- Number of <span class='cb'>MOV</span> videos: <span class='cb'>0</span>
- Number of <span class='cb'>MP3</span> audio files: <span class='cb'>2</span>
- Number of <span class='cb'>WAV</span> audio files: <span class='cb'>0</span>

## Git Stats

- Total <span class='mc'>commits</span>: <span class='cb'>71</span>
- Number of <span class='mc'>branches</span>: <span class='cb'>2</span>
- Latest commit <span class='mc'>hash</span>: <span class='cb'>[6c986d79fa92b858bcc5c2804ce7d8b2d37454b5](https://github.com/bsod2528/bsod2528.github.io/commit/6c986d79fa92b858bcc5c2804ce7d8b2d37454b5)</span>
- Latest Commit Date: <span class='cb'>Thu May 7 09:14:24 2026 +0530</span>
- Latest commit <span class='mc'>message</span>: <span class='cb'>updated you single and added keepandroidopen banner</span>

## Misc Stats
- Most edited file: <span class='cb'>_includes/code_stats.html</span> (edited <span class='cb'>28</span> times)
- Largest file: <span class='cb'>./assets/blogs/blog-11.gif</span> (<span class='cb'>19M</span>)
- Largest non-media file: <span class='cb'>./assets/js/prism.js</span> (<span class='cb'>68K</span>)
- Smallest file: <span class='cb'>./assets/css/styles.scss</span> (<span class='cb'>4.0K</span>)
- Total project size (Excluding .git): <span class='cb'>41M</span>
- Total sroject size (Including .git): <span class='cb'>127M</span>
