## Codebase Stats

- Total files: <span class='cb'>209</span>
- Total folders: <span class='cb'>226</span>
- Number of <span class='md'>.md</span> files: <span class='cb'>53</span> && with <span class='cb'>4140</span> lines of code.
- Number of <span class='html'>.html</span> files: <span class='cb'>14</span> && with <span class='cb'>693</span> lines of code.
- Number of <span class='scss'>.scss</span> files: <span class='cb'>26</span> && with <span class='cb'>1262</span> lines of code.
- Number of <span class='js'>.js</span> files: <span class='cb'>8</span> && with <span class='cb'>127</span> lines of code.
- Number of <span class='yml'>.yml</span> files: <span class='cb'>17</span> && with <span class='cb'>369</span> lines of code.
- Number of <span class='cb'>.txt</span> files: <span class='cb'>2</span> && with <span class='cb'>63</span> lines of code.
- Number of <span class='sql'>.sql</span> files: <span class='cb'>1</span> && with <span class='cb'>464</span> lines of code.
- Number of <span class='shell'>.sh</span> files: <span class='cb'>2</span> && with <span class='cb'>127</span> lines of code.

## Media Stats

- Number of <span class='cb'>PNG</span> images: <span class='cb'>18</span>
- Number of <span class='cb'>JPG</span> images: <span class='cb'>14</span>
- Number of <span class='cb'>JPEG</span> images: <span class='cb'>0</span>
- Number of <span class='cb'>GIF</span> images: <span class='cb'>19</span>
- Number of <span class='cb'>SVG</span> images: <span class='cb'>0</span>
- Number of <span class='cb'>WebP</span> images: <span class='cb'>0</span>
- Number of <span class='cb'>MP4</span> videos: <span class='cb'>1</span>
- Number of <span class='cb'>MOV</span> videos: <span class='cb'>0</span>
- Number of <span class='cb'>MP3</span> audio files: <span class='cb'>2</span>
- Number of <span class='cb'>WAV</span> audio files: <span class='cb'>0</span>

## Git Stats

- Total <span class='mc'>commits</span>: <span class='cb'>78</span>
- Number of <span class='mc'>branches</span>: <span class='cb'>2</span>
- Latest commit <span class='mc'>hash</span>: <span class='cb'>[f75adce02da5c908058e7372d4f0061ea9a388f7](https://github.com/bsod2528/bsod2528.github.io/commit/f75adce02da5c908058e7372d4f0061ea9a388f7)</span>
- Latest Commit Date: <span class='cb'>Tue Jun 9 07:40:11 2026 +0000</span>
- Latest commit <span class='mc'>message</span>: <span class='cb'>chore: removed zone:identifier file</span>

## Misc Stats
- Most edited file: <span class='cb'>_includes/code_stats.html</span> (edited <span class='cb'>34</span> times)
- Largest file: <span class='cb'>./assets/blogs/blog-11.gif</span> (<span class='cb'>19M</span>)
- Largest non-media file: <span class='cb'>./assets/js/prism.js</span> (<span class='cb'>68K</span>)
- Smallest file: <span class='cb'>./assets/css/styles.scss</span> (<span class='cb'>1.0K</span>)
- Total project size (Excluding .git): <span class='cb'>51M</span>
- Total project size (Including .git): <span class='cb'>151M</span>
