## Codebase Stats

- Total files: <span class='cb'>134</span>
- Total folders: <span class='cb'>108</span>
- Number of <span class='md'>.md</span> files: <span class='cb'>28</span> && with <span class='cb'>1751</span> lines of code.
- Number of <span class='html'>.html</span> files: <span class='cb'>10</span> && with <span class='cb'>648</span> lines of code.
- Number of <span class='scss'>.scss</span> files: <span class='cb'>19</span> && with <span class='cb'>642</span> lines of code.
- Number of <span class='js'>.js</span> files: <span class='cb'>2</span> && with <span class='cb'>20</span> lines of code.
- Number of <span class='yml'>.yml</span> files: <span class='cb'>16</span> && with <span class='cb'>282</span> lines of code.
- Number of <span class='cb'>.txt</span> files: <span class='cb'>2</span> && with <span class='cb'>63</span> lines of code.
- Number of <span class='sql'>.sql</span> files: <span class='cb'>1</span> && with <span class='cb'>464</span> lines of code.
- Number of <span class='shell'>.sh</span> files: <span class='cb'>2</span> && with <span class='cb'>131</span> lines of code.

## Media Stats

- Number of <span class='cb'>PNG</span> images: <span class='cb'>5</span>
- Number of <span class='cb'>JPG</span> images: <span class='cb'>0</span>
- Number of <span class='cb'>JPEG</span> images: <span class='cb'>0</span>
- Number of <span class='cb'>GIF</span> images: <span class='cb'>16</span>
- Number of <span class='cb'>SVG</span> images: <span class='cb'>0</span>
- Number of <span class='cb'>WebP</span> images: <span class='cb'>0</span>
- Number of <span class='cb'>MP4</span> videos: <span class='cb'>0</span>
- Number of <span class='cb'>MOV</span> videos: <span class='cb'>0</span>
- Number of <span class='cb'>MP3</span> audio files: <span class='cb'>0</span>
- Number of <span class='cb'>WAV</span> audio files: <span class='cb'>0</span>

## Git Stats

- Total <span class='mc'>commits</span>: <span class='cb'>36</span>
- Number of <span class='mc'>branches</span>: <span class='cb'>1</span>
- Latest commit <span class='mc'>hash</span>: <span class='cb'>[05f97afd589a2f7fc2dc0dff82cb819e22d423f0](https://github.com/bsod2528/bsod2528.github.io/commit/05f97afd589a2f7fc2dc0dff82cb819e22d423f0)</span>
- Latest Commit Date: <span class='cb'>Mon Jan 20 08:23:05 2025 +0530</span>
- Latest commit <span class='mc'>message</span>: <span class='cb'>new blog</span>

## Misc Stats
- Most edited file: <span class='cb'>README.md</span> (edited <span class='cb'>8</span> times)
- Largest file: <span class='cb'>./assets/blogs/blog-8.gif</span> (<span class='cb'>2.3M</span>)
- Largest non-media file: <span class='cb'>./assets/tables.sql</span> (<span class='cb'>12K</span>)
- Smallest file: <span class='cb'>./assets/css/styles.scss</span> (<span class='cb'>1.0K</span>)
- Total project size (Excluding .git): <span class='cb'>9.5M</span>
- Total sroject size (Including .git): <span class='cb'>25M</span>
