<!-- <div id="mc_embed_shell">
<style type="text/css">
    #mc_embed_signup {
        background: #130d1c;
        clear: left;
        font: 16.5px "Noto Sans Mono", monospace;
        width: 100%;
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border: 2px solid rgb(80, 80, 80);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    #mc_embed_signup h2 {
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 15px;
    }
    
    #mc_embed_signup .indicates-required {
        color: #d8e1ff;
        margin-bottom: 15px;
        font-size: 14px;
    }
    
    #mc_embed_signup .asterisk {
        color: #ff869a;
    }
    
    #mc_embed_signup .mc-field-group {
        margin-bottom: 15px;
    }
    
    #mc_embed_signup label {
        color: #ffffff;
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }
    
    #mc_embed_signup input[type="email"],
    #mc_embed_signup input[type="text"] {
        background-color: #1d1f21;
        border: 2px solid rgb(80, 80, 80);
        color: #d8e1ff;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        font-family: "Noto Sans Mono", monospace;
        font-size: 16px;
        transition: border-color 0.3s ease-in-out;
    }
    
    #mc_embed_signup input[type="email"]:focus,
    #mc_embed_signup input[type="text"]:focus {
        outline: none;
        border-color: rgb(154, 99, 255);
    }
    
    #mc_embed_signup .helper_text {
        color: #d8e1ff;
        font-size: 14px;
        opacity: 0.8;
        margin-top: 5px;
        display: block;
    }
    
    #mc_embed_signup .button {
        background-color: rgb(154, 99, 255);
        color: white;
        border: none;
        padding: 12px 25px;
        font-family: "Noto Sans Mono", monospace;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-top: 10px;
    }
    
    #mc_embed_signup .button:hover {
        background-color: white;
        color: black;
    }
    
    #mc_embed_signup .response {
        color: #d8e1ff;
        margin-top: 10px;
    }
    
    /* Hide the Mailchimp badge */
    #mc_embed_signup .refferal_badge {
        display: none;
    }
    
    #mc_embed_signup p {
        display: none;
    }
    
    @media only screen and (max-width: 576px) {
        #mc_embed_signup {
            padding: 15px;
            margin: 10px;
        }
    }
</style>

<div id="mc_embed_signup">
    <form action="https://github.us15.list-manage.com/subscribe/post?u=d0f0596fce37fa752030ba842&amp;id=d4df7a136f&amp;f_id=00c5c2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div id="mc_embed_signup_scroll">
            <h2>Subscribe</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
            </div>
            <div class="mc-field-group">
                <label for="mce-FNAME">Your name</label>
                <input type="text" name="FNAME" class="text" id="mce-FNAME" value="">
                <span id="mce-FNAME-HELPERTEXT" class="helper_text">a simple name for a personalised email</span>
            </div>
            <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_d0f0596fce37fa752030ba842_d4df7a136f" tabindex="-1" value="">
            </div>
            <div class="optionalParent">
                <div class="clear foot">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
(function($) {
    window.fnames = new Array(); 
    window.ftypes = new Array();
    fnames[0]='EMAIL';ftypes[0]='email';
    fnames[1]='FNAME';ftypes[1]='text';
    fnames[2]='LNAME';ftypes[2]='text';
    fnames[3]='ADDRESS';ftypes[3]='address';
    fnames[4]='PHONE';ftypes[4]='phone';
    fnames[5]='BIRTHDAY';ftypes[5]='birthday';
    fnames[6]='COMPANY';ftypes[6]='text';
}(jQuery));
var $mcj = jQuery.noConflict(true);
</script>
</div> -->


<div id="mc_embed_shell">
  <style type="text/css">
    #mc_embed_signup {
      background: #130d1c;
      font: 16.5px "Noto Sans Mono", monospace;
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      border: 2px solid rgb(80, 80, 80);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    #mc_embed_signup h2 {
      color: #ffffff;
      font-weight: bold;
      margin-bottom: 15px;
    }

    #mc_embed_signup .indicates-required {
      color: #d8e1ff;
      margin-bottom: 15px;
      font-size: 14px;
    }

    #mc_embed_signup .asterisk {
      color: #ff869a;
    }

    #mc_embed_signup .mc-field-group {
      margin-bottom: 15px;
    }

    #mc_embed_signup label {
      color: #ffffff;
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }

    #mc_embed_signup input[type="email"],
    #mc_embed_signup input[type="text"] {
      background-color: #1d1f21;
      border: 2px solid rgb(80, 80, 80);
      color: #d8e1ff;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      font-family: "Noto Sans Mono", monospace;
      font-size: 16px;
      transition: border-color 0.3s ease-in-out;
    }

    #mc_embed_signup input[type="email"]:focus,
    #mc_embed_signup input[type="text"]:focus {
      outline: none;
      border-color: rgb(154, 99, 255);
    }

    #mc_embed_signup .helper_text {
      color: #d8e1ff;
      font-size: 14px;
      opacity: 0.8;
      margin-top: 5px;
      display: block;
    }

    #mc_embed_signup .button {
      background-color: rgb(154, 99, 255);
      color: white;
      border: none;
      padding: 12px 25px;
      font-family: "Noto Sans Mono", monospace;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      margin-top: 10px;
      width: 100%;
    }

    #mc_embed_signup .button:hover {
      background-color: white;
      color: black;
    }

    #mc_embed_signup .response {
      color: #d8e1ff;
      margin-top: 10px;
    }

    #mc_embed_signup .refferal_badge,
    #mc_embed_signup p {
      display: none;
    }

    @media only screen and (max-width: 576px) {
      #mc_embed_signup {
        padding: 15px;
        margin: 10px;
      }

      #mc_embed_signup .button {
        padding: 12px;
        font-size: 15px;
      }
    }
  </style>

  <div id="mc_embed_signup">
    <form action="https://github.us15.list-manage.com/subscribe/post?u=d0f0596fce37fa752030ba842&amp;id=d4df7a136f&amp;f_id=00c5c2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      <div id="mc_embed_signup_scroll">
        <h2>Subscribe</h2>
        <div class="indicates-required">
          <span class="asterisk">*</span> indicates required
        </div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
          <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required>
        </div>
        <div class="mc-field-group">
          <label for="mce-FNAME">Your name</label>
          <input type="text" name="FNAME" class="text" id="mce-FNAME">
          <span id="mce-FNAME-HELPERTEXT" class="helper_text">a simple name for a personalised email</span>
        </div>
        <div id="mce-responses" class="clear foot">
          <div class="response" id="mce-error-response" style="display:none;"></div>
          <div class="response" id="mce-success-response" style="display:none;"></div>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_d0f0596fce37fa752030ba842_d4df7a136f" tabindex="-1" value="">
        </div>
        <div class="optionalParent">
          <div class="clear foot">
            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
          </div>
        </div>
      </div>
    </form>
  </div>

  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script type="text/javascript">
    (function($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL'; ftypes[0] = 'email';
      fnames[1] = 'FNAME'; ftypes[1] = 'text';
      fnames[2] = 'LNAME'; ftypes[2] = 'text';
      fnames[3] = 'ADDRESS'; ftypes[3] = 'address';
      fnames[4] = 'PHONE'; ftypes[4] = 'phone';
      fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday';
      fnames[6] = 'COMPANY'; ftypes[6] = 'text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>
</div>
