.blog-wrapper {

    .card {
        margin: auto;
        margin-bottom: 20px;
        padding: 10px;
        background-color: var(--card-bg);
        border: 2px solid var(--card-border);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: background-color 0.25s ease, border-color 0.25s ease;

        .b-media-wrapper {
            overflow: hidden;
            position: relative;
            max-height: 300px;
        }

        .b-media {
            width: 100%;
            height: auto;
            object-fit: contain;
        }

        .b-tag {
            display: inline-block;
            background-color: var(--tag-bg);
            color: var(--tag-colour);
            transition: background-color 0.3s, color 0.3s;
            text-decoration: none;
        }

        .b-tag:hover {
            color: white;
            background-color: rgb(114, 98, 255);
        }

        .b-excerpt {
            background-color: var(--excerpt-bg);
            transition: background-color 0.25s ease;

            .b-excerpt-content {
                border: 2px solid var(--card-border);
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        @media only screen and (max-width: 576px) {
            .b-media-wrapper {
                max-height: 120px;
            }
        }
    }
}
